/*

main colors

*/

$primary-color: rgba(18, 78, 120, 1);
$secondary-color: rgba(1, 22, 56, 1);
$tertiary-color: rgba(110, 14, 10, 1);


$text-headline: rgba(30, 26, 27, 1);
$text-para-dark: rgba(46, 40, 42, 1);
$text-para-light: rgba(0, 0, 50, 1);


/*

navigation colors

*/

$green: rgba(18, 78, 120, 1);
$blue: rgba(1, 22, 56, 1);
$yellow: rgba(242, 187, 5, 1);
$orange: rgba(215, 78, 9, 1);
$red: rgba(110, 14, 10, 1);
$black: rgba(0,0,0,1);
$white: rgba(255, 251, 252, 1);
