@media only screen and (min-width : 320px) {

  .fake-icon {
    background: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
  }

  .page-summary-transition {
    margin: 5px;
    width: calc(100%-10px);
  }

  .stack-cont {
    display: flex;
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .stack-header-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: $yellow;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .stack-title {
    text-align: center;
    margin: 0 10px;
  }

  p.stack-desc {
    margin: 10px;
    text-align: center;

  }

}



/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

  //--------------------------------------------------------------------------------
  //-------------------- web dev comp styles ---------------------------------------
  //-------------------------- small screens ---------------------------------------


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .stack-cont {
    margin: 25px 0 0 0;
    display: flex;
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }

  .stack-header-background {
    width: 250px;
    height: 250px;
}

  .stack-icon-cont {
    width: calc(100% - 275px);
  }



}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
