@media only screen and (min-width : 320px) {

  //--------------------------------------------------------------------------------
  //-------------------- web dev comp styles ---------------------------------------
  //-------------------------- small screens ---------------------------------------

  .page-summary-transition {
    margin: 5px;
    width: calc(100%-10px);
  }

  .stack-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .stack-header-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0;
    background: $yellow;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .page-subtitle {
    width: 100%;
    text-align: center;
    @include push--auto;
  }

  .stack-title {
    text-align: center;
    margin: 0 10px;
  }

  p.stack-desc {
    margin: 0 10px;
    text-align: center;
  }

  .stack-icon-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
    height: 100%;
  }

  .stack-icon-sub-cont {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    box-sizing:border-box
     -webkit-box-pack: center;
     -ms-flex-pack: center;
    justify-content: center;
    @include push--auto;
    cursor: pointer;
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
  }

  .stack-icon-name {
    text-align: center;
    color: $primary-color;
  }

  .stack-icon {
    width: 94%;
    z-index: 2;
  }

  .stack-icon-desc {
    display: none;
    position: absolute;
    font-size: .5rem;
    color: $black;
    top: -50px;
  }

  .writing-cont {

  }

  .writing-link {
    display: block;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    border: 1px solid $primary-color;
    border-radius: 2px;
  }

  .writing-link:hover {
    color: $tertiary-color;
    border: 1px solid $tertiary-color;
    @include box-shadow-standard;
  }

  // STYLES RELATING TO THE API-FETCHED GITHUB INFO ON THE /WEBDEV/PORTFOLIO PageTitle

  .profile-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .profile-cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 0;
    // background-color: $yellow;
    border-radius: 2px;
    // border: 1px solid $primary-color;
    }


  .profile-avatar {
    width: 65px;
    height: 65px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid $primary-color;

    }

  .profile-text {
    margin: 0 5px;
    max-width: 60%;
    }

  .profile-link {
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;

    }

  .profile-login {
      padding: 0;
      margin: 5px 0;
      font-size: 1.4em;
    }

  .profile-visit-btn {
    background-color: $primary-color;
    color: $white;
    border: 1px solid $primary-color;
    border-radius: 2px;
  }

  .profile-links-cont {
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid $primary-color;
  }

  .profile-links-headline {
    text-align: center;
    padding: 0;
  }

  .profile-links-list-item {
    color: $black;
    text-align: center;
    text-decoration: none;
  }

  .profile-links-list-item p {
    line-height: 1.5rem;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  .profile-links-list-item p:after {
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    content: " \1F517 ";
  }

  .stack-title.portfolio-title {
    font-size: 1.1rem;
  }

  .stack-desc.portfolio-desc {
    font-size: .8rem;
  }

  .portfolio-github-link {
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0;
    @include push--auto;
    -webkit-transition: border 1s ease-in;
    transition: border 1s ease-in;
  }

  .portfolio-github-link:hover {
    color: $tertiary-color;
    border: 1px solid $tertiary-color;
    @include box-shadow-standard;
  }

  .portfolio-inline-github-logo {
    display: inline;
    height: 1.5rem;
    margin: .3rem 0;
    padding: 0;
  }

  // .must change stack-icon-cont and portfolio cont to completely different values

  .stack-icon-cont.portfolio-icon-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid $primary-color;
    margin: 0 0 20px 0;
  }

  .portfolio-language {
    text-align: center;
  }

  .portfolio-language em {
    font-size: 1.1rem;
  }
}



/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


  .stack-cont {
    margin: 25px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }


  .stack-header-background {
    width: 250px;
    height: 250px;
}

  .stack-icon-cont {
    width: calc(100% - 275px);
  }


  .stack-icon-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }

  .stack-cont.portfolio-stack-cont {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }


  .stack-icon-cont.portfolio-icon-cont {
    border: none;
    width: 50%;
  }

  .stack-icon-sub-cont {
    max-width: 25%;
    // height: ;
    // width: 100%;
  }

  .stack-icon-name {
  }

  .stack-icon {
  }

  .stack-icon-desc {
  }

  .writing-link {
    display: block;
    max-width: 40%;
    @include push--auto;
  }

  .writing-link:hover {
  }


  // styles for webdev/portfolio route github user info

  .profile-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .profile-links-cont {
    max-width: 45%;
    border-bottom: none;
  }


  .profile-cont {
    max-width: 45%;

    }

  .profile-avatar {
    height: 125px;
    width: 125px;

    }

  .profile-text {

    }

  .profile-link {


    }

  .profile-login {

    }

  .profile-public-repos {

    }

  .profile-followers {

    }

  .profile-visit-btn {

  }





}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


    .stack-icon-cont {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%;
    }

    .stack-icon-sub-cont {
      max-width: 15%;
      // height: ;
      // width: 100%;
    }

    .stack-icon-name {
    }

    .stack-icon {
    }

    .stack-icon-desc {
    }

    .profile-avatar {
        height: 175px;
        width: 175px;
    }


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  .stack-title.portfolio-title {
    font-size: 1.4rem;
  }

  .stack-desc.portfolio-desc {
    font-size: .9rem;
  }

}
