/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


  .outer-nav {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    perspective: 700px;
    @include push--auto;
  }

  .nav-cont {
    margin: 2.5% 0;
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: space-around;
  }

  .logo-cont {
    width: 70%;
    margin-top: 2.5%;
  }

  .site-name {
    margin: 2.5% 0 0 0;
    text-align: center;
  }

  .header-icon {
    width: 100px;
    height: 100px;
  }

  .nav-link {
    text-decoration: none;
    background: $secondary-color;
    color: $white;
    text-align: center;
    margin: 10px 5px;
    padding: 5px 10px;
    border-radius: 2px;
    transition: all .5s ease-in;
  }

  .nav-link:hover {
    background: $primary-color;
    transition: background 0s;

  }

  .nav-link.active {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(250,250,250,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(250,250,250,1);
    box-shadow: 0px 0px 10px 3px rgba(250,250,250,1);
  }



  .one {
    // background-color: $yellow;
  }

  .two {
    // background-color: $orange;
  }

  .three {
    // background-color: $red;
  }

  .four {
    // background-color: $blue;
  }

  .nav-cont a.active {
    background-color: $white;
    color: $black;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .outer-nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    perspective: 700px;
    @include push--auto;
  }

  .outer-nav:hover {
  }


  .nav-cont {
    margin: 2.5% 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }

  .logo-cont {
    width: 70%;
    margin-top: 2.5%;
  }

  .site-name {
    margin: 2.5% 0 0 0;
    text-align: left;
  }

  .nav-link {
    text-decoration: none;
    background: $secondary-color;
    color: $white;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 5px 15px;
    border-radius: 2px;
    transition: .5s ease-in;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
