/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .outer-cont {
      background: url("/images/anime-sky.jpg");
      height: 100vh;
      background-size: cover;
    }

    .content-cont,footer {
      background: $white;
      width: 90%;
      @include push--auto;
      @include box-shadow-standard;
    }

    .content-cont {
      min-height: 50vh;
    }

    .section-desc {
      white-space: pre-wrap;
    }

    .page-summary {
      width: 100%;
      margin: 10px;
    }

    .page-title-cont {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      // @include box-shadow-standard;
    }

    .page-title-cont h3 {
      color: $primary-color;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  width: 70%;
  margin: 2.5% 5%;
  padding: 1% 2.5%;

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
