.transition {
  width: 100%;
}



/*
============================================================================
*****REACT CSS TRANSITION GROUP STYLES*****
============================================================================
*/


//Main site headline transitions upon initial page load.

.headline-animation-appear {
  opacity: 0;
  transform: translateY(100%);

}

.headline-animation-appear.headline-animation-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in .5s, transform 1s ease-in;
}

///////////// as yet unused styles for headline animation //////////////////

//title for page transitions in upon mount

.page-title-animation-appear {
  opacity: 0;
}

.page-title-animation-appear.page-title-animation-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

// .page-title-animation-leave {
//   opacity: 1;
//   transition: opacity 3s ease-in;
// }
//
// .page-title-animation-leave.page-title-animation-leave-active {
//   opacity: 0;
//   transition: opacity 3s ease-in;
// }

/*
============================================================================
***** For SubNav Component *****
============================================================================
*/

//Main site headline transitions upon initial page load.

.sub-nav-animation-appear {
  opacity: 0;
  transform: translateY(100%);

}

.sub-nav-animation-appear.sub-nav-animation-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in .5s, transform 1s ease-in;
}

///////////// as yet unused styles for headline animation //////////////////

//title for page transitions in upon mount

.sub-nav-animation-appear {
  opacity: 0;
}

.sub-nav-animation-appear.sub-nav-animation-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.sub-nav-animation-leave {
  opacity: 1;
  transition: opacity 3s ease-in;
}

.sub-nav-animation-leave.sub-nav-animation-leave-active {
  opacity: 0;
  transition: opacity 3s ease-in;

}
