@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif");
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif; }

p {
  font-family: 'Noto Sans', sans-serif; }

.nav-cont a {
  font-family: 'Noto Serif', serif;
  font-size: 1rem;
  letter-spacing: 1px; }

.logo-cont, .site-name {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  letter-spacing: 1px; }

/*

main colors

*/
/*

navigation colors

*/
.outer-cont {
  background: url("/images/anime-sky.jpg");
  height: 100vh;
  background-size: cover; }

.content-cont, footer {
  background: #fffbfc;
  width: 70%;
  margin: 2.5% 5%;
  padding: 1% 2.5%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(75, 75, 75, 0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(75, 75, 75, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(75, 75, 75, 0.5); }

.content-cont {
  min-height: 50vh; }

.section-desc {
  white-space: pre-wrap; }

.outer-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  perspective: 700px; }

.nav-cont {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative; }

.logo-cont {
  width: 70%;
  margin-top: 2.5%; }

.site-name {
  font-size: 6.5rem;
  margin: 2.5% 5%; }

.header-icon {
  width: 100px;
  height: 100px; }

.nav-link {
  text-decoration: none;
  background: #011638;
  color: #fffbfc;
  text-align: center;
  margin-top: 15px;
  padding: 5px 15px;
  border-radius: 2px;
  transition: .5s ease-in; }

.nav-link.active {
  -webkit-box-shadow: 0px 0px 10px 3px #fafafa;
  -moz-box-shadow: 0px 0px 10px 3px #fafafa;
  box-shadow: 0px 0px 10px 3px #fafafa; }

.nav-cont a.active {
  background-color: #fffbfc;
  color: black; }
