@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif");
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  margin: 0;
  padding: 0; }

p {
  font-family: 'Noto Sans', sans-serif; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2.25rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.75rem; }
  h5 {
    font-size: 1.5rem; }
  h6 {
    font-size: 1.25rem; }
  p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem; }
  .nav-cont a {
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
    letter-spacing: 1px; }
  .logo-cont, .site-name {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
    letter-spacing: 1px; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5rem; }
  h2 {
    font-size: 3.5rem; }
  h3 {
    font-size: 3rem; }
  h4 {
    font-size: 2.5rem; }
  h5 {
    font-size: 2rem; }
  h6 {
    font-size: 1.5rem; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5rem; }
  h2 {
    font-size: 3.5rem; }
  h3 {
    font-size: 3rem; }
  h4 {
    font-size: 3rem; }
  h5 {
    font-size: 2rem; }
  h6 {
    font-size: 1.5rem; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  p {
    font-size: 1.1rem; } }

/*

main colors

*/
/*

more colors

*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .main-content {
    position: relative;
    margin: 5px;
    padding: 5px; }
  .outer-cont {
    background-image: linear-gradient(to top, rgba(110, 14, 10, 0.8), rgba(18, 78, 120, 0.8)), url("/images/anime-sky.jpg");
    min-height: 100vh;
    background-size: cover; }
  .content-cont, footer {
    background: #fffbfc;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(75, 75, 75, 0.5);
    -moz-box-shadow: 0px 0px 10px 2px rgba(75, 75, 75, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(75, 75, 75, 0.5); }
  .content-cont {
    min-height: 50vh; }
  .section-desc {
    white-space: pre-wrap; }
  .page-summary {
    width: 100%;
    margin: 10px; }
  .page-summary p {
    padding: 5px; }
  .page-title-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center; }
  .page-title-cont h1, h2, h3, h4, h5, h6 {
    color: #124e78; }
  .card-cont {
    display: flex;
    flex-direction: column; }
  .card-link, .card-inner-link {
    text-decoration: none;
    color: inherit; }
  .card {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(75, 75, 75, 0.5);
    -moz-box-shadow: 0px 0px 10px 2px rgba(75, 75, 75, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(75, 75, 75, 0.5); }
  .card:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(110, 14, 10, 0.8);
    -moz-box-shadow: 0px 0px 10px 2px rgba(110, 14, 10, 0.8);
    box-shadow: 0px 0px 10px 2px rgba(110, 14, 10, 0.8); }
  .card-upper-section {
    border-radius: 3px 3px 0 0;
    position: relative;
    margin: 0;
    padding: 0;
    border: solid 1px #124e78;
    background-color: #124e78;
    min-height: 23vh; }
  .card-icon {
    position: absolute;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px; }
  .card-headline {
    position: absolute;
    color: #fffbfc;
    padding: 10px;
    text-align: center;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15vh;
    text-shadow: 0 0 0 black, 0 0 1px black; }
  .card-lower-section {
    border-radius: 0 0 3px 3px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    min-height: 23vh; }
  .svg-flex-cont, .svg-flex-cont-2, .svg-flex-cont-3, .svg-flex-cont-4, .svg-flex-cont-5, .svg-flex-cont-6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    padding: 5px;
    margin: 0; }
    .svg-flex-cont svg, .svg-flex-cont-2 svg, .svg-flex-cont-3 svg, .svg-flex-cont-4 svg, .svg-flex-cont-5 svg, .svg-flex-cont-6 svg {
      cursor: pointer; }
  .svg-flex-cont .svg-icon {
    max-width: 3.5em;
    max-height: 3.5em; }
  .svg-flex-cont-2 .svg-icon {
    max-width: 3.25em;
    max-height: 3.25em; }
  .svg-flex-cont-3 .svg-icon {
    max-width: 3em;
    max-height: 3em; }
  .svg-flex-cont-4 .svg-icon {
    max-width: 3em;
    max-height: 3em; }
  .svg-flex-cont-5 .svg-icon {
    max-width: 2.5em;
    max-height: 2.5em; }
  .svg-flex-cont-6 .svg-icon {
    max-width: 2.25em;
    max-height: 2.25em; }
  .card p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 5px; }
  .card h5 {
    font-size: 1rem; }
  .card p {
    font-size: .8rem; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .card p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px 10px 5px 10px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .card-cont {
    flex-direction: row; }
  .card-upper-section {
    min-height: 15vh; }
  .card-headline {
    top: 8vh;
    font-size: 2.5rem; }
  .card-lower-section {
    min-height: 15vh; }
  .card h5 {
    font-size: 1.2rem; }
  .card p {
    font-size: .8rem; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .main-content {
    margin: 25px;
    padding: 25px; }
  .card-cont {
    flex-direction: row; }
  .card-upper-section {
    min-height: 20vh; }
  .card-headline {
    top: 11vh;
    font-size: 2.5rem; }
  .card-lower-section {
    min-height: 20vh; }
  .card h5 {
    font-size: 1.2rem; }
  .card p {
    font-size: .8rem; }
  .page-summary {
    width: 95%;
    margin: 15px;
    margin-left: auto;
    margin-right: auto; }
  .svg-flex-cont, .svg-flex-cont-2, .svg-flex-cont-3, .svg-flex-cont-4, .svg-flex-cont-5, .svg-flex-cont-6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    padding: 5px;
    margin-top: 15px; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .card p {
    font-size: 1rem; }
  .card h5 {
    font-size: 1.5rem; }
  .card-upper-section {
    min-height: 20vh; }
  .card-headline {
    top: 11vh;
    font-size: 2.5rem; }
  .card-lower-section {
    min-height: 19vh; } }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .outer-nav {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; }
  .nav-cont {
    margin: 2.5% 0;
    display: flex;
    flex-direction: row; }
  .logo-cont {
    width: 70%;
    margin-top: 2.5%; }
  .site-name {
    margin: 2.5% 0 0 0;
    text-align: center; }
  .header-icon {
    width: 100px;
    height: 100px; }
  .nav-link {
    text-decoration: none;
    color: #fffbfc;
    text-align: center;
    margin: 10px 5px;
    padding: 5px 10px;
    border-radius: 2px;
    transition: all .5s ease-in; }
  .nav-link:hover {
    background: #124e78;
    transition: background 0s; }
  .nav-link.active {
    -webkit-box-shadow: 0px 0px 10px 3px #fafafa;
    -moz-box-shadow: 0px 0px 10px 3px #fafafa;
    box-shadow: 0px 0px 10px 3px #fafafa; }
  .nav-cont a.active {
    background-color: #fffbfc;
    color: black; }
  .sub-nav-cont {
    display: flex;
    width: 100%;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0; }
  .sub-nav-cont a {
    font-size: .8rem;
    background: #124e78;
    border: 1px solid #124e78;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 2px;
    color: #fffbfc; }
  .sub-nav-cont a.active {
    color: #124e78;
    background: #fffbfc; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .outer-nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    perspective: 700px;
    margin-left: auto;
    margin-right: auto; }
  .nav-cont {
    margin: 2.5% 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative; }
  .logo-cont {
    width: 70%;
    margin-top: 2.5%; }
  .site-name {
    margin: 2.5% 0 0 0;
    text-align: left; }
  .nav-link {
    text-decoration: none;
    color: #fffbfc;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 5px 15px;
    border-radius: 2px;
    transition: .5s ease-in; }
  .sub-nav-cont {
    display: flex;
    position: absolute;
    top: 15px;
    right: 0;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .sub-nav-cont a {
    font-size: 1rem;
    background: #124e78;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 2px;
    transition: all .5s ease-in;
    color: #fffbfc; }
  .sub-nav-cont a.active {
    color: #d74e09; }
  .sub-nav-item {
    margin: 10px; } }

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .sub-nav-cont {
    min-height: 10vh; } }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .footer {
    display: flex; }
  .footer-link {
    text-decoration: none;
    margin: 10px; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
.transition {
  width: 100%; }

/*
============================================================================
*****REACT CSS TRANSITION GROUP STYLES*****
============================================================================
*/
.headline-animation-appear {
  opacity: 0;
  transform: translateY(100%); }

.headline-animation-appear.headline-animation-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in .5s, transform 1s ease-in; }

.page-title-animation-appear {
  opacity: 0; }

.page-title-animation-appear.page-title-animation-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

/*
============================================================================
***** For SubNav Component *****
============================================================================
*/
.sub-nav-animation-appear {
  opacity: 0;
  transform: translateY(100%); }

.sub-nav-animation-appear.sub-nav-animation-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in .5s, transform 1s ease-in; }

.sub-nav-animation-appear {
  opacity: 0; }

.sub-nav-animation-appear.sub-nav-animation-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.sub-nav-animation-leave {
  opacity: 1;
  transition: opacity 3s ease-in; }

.sub-nav-animation-leave.sub-nav-animation-leave-active {
  opacity: 0;
  transition: opacity 3s ease-in; }

@media only screen and (min-width: 320px) {
  .page-summary-transition {
    margin: 5px;
    width: calc(100%-10px); }
  .stack-cont {
    display: flex;
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .stack-header-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    background: #f2bb05;
    border-radius: 50%;
    width: 200px;
    height: 200px; }
  .page-subtitle {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .stack-title {
    text-align: center;
    margin: 0 10px; }
  p.stack-desc {
    margin: 0 10px;
    text-align: center; }
  .stack-icon-cont {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 100%; }
  .stack-icon-sub-cont {
    max-width: 50%;
    height: auto;
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: 1s ease-in; }
  .stack-icon-name {
    text-align: center;
    color: #124e78; }
  .stack-icon {
    width: 94%;
    height: auto;
    z-index: 2; }
  .stack-icon-desc {
    display: none;
    position: absolute;
    font-size: .5rem;
    color: black;
    top: -50px; }
  .profile-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    background-color: #f2bb05;
    border-radius: 5px;
    border: 1px solid #124e78; }
  .profile-avatar {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #124e78; }
  .profile-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .profile-login {
    padding: 0; }
  .profile-visit-btn {
    background-color: #124e78;
    color: #fffbfc;
    border: 1px solid #124e78;
    border-radius: 5px; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .stack-cont {
    margin: 25px 0 0 0;
    display: flex;
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .stack-header-background {
    width: 250px;
    height: 250px; }
  .stack-icon-cont {
    width: calc(100% - 275px); }
  .stack-icon-cont {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0; }
  .stack-icon-sub-cont {
    max-width: 25%; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .stack-icon-cont {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .stack-icon-sub-cont {
    max-width: 15%; } }

/* Large Devices, Wide Screens */
